<ion-modal-view>
  <ion-header-bar>
  <div class="buttons">
      <button class="button button-clear" ng-click="closemodeInsert()">이전</button>
    </div>
    <h1 class="title">매입등록</h1>
  </ion-header-bar>
  <ion-content>
   <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label psm_sang_01">&nbsp;&nbsp;매입액</span>
        <input type="text" style="text-align:right" readonly value='총 3개 / 3,000원'><br>
      </label><br>
   </div>

    <div class="list list-inset">
        &nbsp;<b>지급정보</b>
        <label class="item item-input">
          <span class="input-label psm_sang_01">&nbsp;&nbsp;지급일</span>
          2015-01-21일&nbsp;&nbsp;<i class="ion-ios-calendar-outline" style="font-size:25px"></i><br>
        </label><br>
        <label class="item">
          <span class="input-label psm_sang_01">&nbsp;&nbsp;지급구분</span>
          <table>
            <tr>
            <td>
            <ion-radio style="font-size:12px;" ng-click='Payments_division(1)'>현금결제</ion-radio>
            </td>
            <td>
            <ion-radio style="font-size:12px;" ng-click='Payments_division(2)'>통장결제</ion-radio>
            </td>
            </tr>
            <tr>
            <td>
            <ion-radio style="font-size:12px;" ng-click='Payments_division(3)'>어음결제</ion-radio>
            </td>
            <td>
            <ion-radio style="font-size:12px;" ng-click='Payments_division(4)'>카드결제</ion-radio>
            </td>
            </tr>
          </table><br>
        </label><br>
    </div>
    <div class="list list-inset">
      <label class="item item-input" ng-if="paytype">
        <span class="input-label psm_sang_01">&nbsp;&nbsp;{{payname}}</span>
        <select>
          <option ng-repeat='x in paydatalist'>{{x.Card_Name}}</option>
        </select>
        <br>
      </label><br>
      <label class="item item-input">
        <span class="input-label psm_sang_01">&nbsp;&nbsp;지급액</span>
        <input type="number" ng-disabled="disState" style="text-align:right"><span class="input-label psm_sang_01">원</span><br>
      </label><br>
   </div>
<!--   <ion-item ng-click="insertGoodsF()">
      저장
  </ion-item> -->

  </ion-content>
  <button class="bar bar-footer bar-positive footer-button">
        등록
  </button>
  </form>
  </ion-content>
  </ion-modal-view>


