<ion-view title="간편매입 등록">
	<ion-nav-bar>
		<ion-nav-back-button ng-click="backControll()">Back</ion-nav-back-button>
	</ion-nav-bar>
  	<ion-content>
  	<div class="list list-inset">
  		<div align="right">
  			<label class="item item-input" style="border:0;">
			  <input type="text" style="text-align:right;" value='{{today}}' readonly>&nbsp;
			  <i class="ion-ios-calendar-outline" style="font-size:25px"></i>&nbsp;
			</label>
  		</div>
  		<div class="list list-inset" align="left" ng-click="meaipNext()">
  			<hr>&nbsp; <i class="{{upAnddown}}"></i> &nbsp;&nbsp; 매입정보
  		</div>

  		<div ng-if="basictype" >
   		<div class="list list-inset">
   			<label class="item item-input" style="border:0;">
			  거래처&nbsp;&nbsp;
			  <input type="text" ng-model="compo.GerName" style="text-align:center;" readonly ng-click="cusSearch()">&nbsp;
			  <button class="button button-stable" ng-click="cusSearch()">검색</button>&nbsp;
			</label>

			<label class="item item-input" style="border:0;">
			  수불구분
  				<ion-radio ng-click="checkup()" ng-model="compo.subulkind" ng-value="111">입고</ion-radio>
				<ion-radio ng-click="checkup()" ng-model="compo.subulkind" ng-value="122">반품</ion-radio>
			</label>

			<label class="item item-input item-select" style="border:0;">
			  매장지정
			  <select ng-model="configData.basic_Place_Code" ng-change='Chango();checkup()' style="width:50%">
			     <option ng-repeat="x in mejanglists" value="{{x.Sale_Place_Code}}" ng-selected="configData.basic_Place_Code == {{x.Sale_Place_Code}}">
			     {{x.Sale_Place_Name}}</option>
			    </select>
			</label>

			<label class="item item-input item-select" style="border:0;">
			  창고지정
			  <select ng-model="configData.basic_Ch_Code" ng-change='Changosave({{x.Code}});checkup()' style="width:50%">
		  		  <option ng-repeat="x in changolists" value="{{x.Code}}" ng-selected="configData.basic_Ch_Code == {{x.Code}}">
		  		  {{x.Name}}</option>
		  		</select>
			</label>
	</div>
	</div>

  		<div class="list list-inset" align="left" ng-click="meaipNext2()">
  			<hr>&nbsp; <i class="{{upAnddown2}}"></i> &nbsp;&nbsp; 상품
  		</div>

  		<div ng-if="basic2type">
		<div class="list list-inset" style="align:center;" >
			<table width="100%">
	        	<tr>
		            <td>
		          &nbsp;<select ng-model="Meaipgoods.userMode" ng-change="modeselect()">
		          			<option ng-repeat="x in modeselectlist" value="{{x.Code}}" ng-selected="Meaipgoods.userMode == {{x.Code}}">{{x.Name}}</option>
		            	</select>&nbsp;&nbsp;
		          	</td>
		          	<td>
		              	<input type="text" placeholder="상품정보를 입력하세요" size="20" ng-model="Meaipgoods.userGoodsName">
		          	</td>
		          	<td><i class="ion-search" style="font-size:30px" ng-click="goodsSearch(1)"></i></td>
		          	<td><i class="ion-ios-barcode" style="font-size:30px" ng-click="scanBarcode(2)"></i></td>
	          	</tr>
	        </table><hr>
        
	   		<table width="100%" style="text-align:center;">
		   		<tr bgcolor="#EAEAEA">
		   			<td width="40%">상품명</td>
		   			<td width="15%">수 량</td>
		   			<td width="35%">단 가</td>
		        	<td width="10%">&nbsp;</td>
		   		</tr>
		      	<tr>
		        	<td colspan="4"><hr></td>
		      	</tr>
		      	<tr ng-repeat="y in addlists">
		        	<td>{{y.namegoods}}</td>
		        	<td><input type="number" min="1" max="999" ng-model="y.numgoods" required></td>
		        	<td>{{y.gdngoods}}</td>
		        	<td><i class="ion-android-remove-circle" ng-click="goodsDelete($index)"></i>&nbsp;</td>
		      	</tr>
	   		</table>
	   	</div>
	</div>
  		
  		<div class="list list-inset" align="left" ng-click="meaipNext3()">
  			<hr>&nbsp; <i class="{{upAnddown3}}"></i> &nbsp;&nbsp; 관리비고
  		</div>
  		<div ng-if="basic3type" class="list list-inset">
	  		<label class="item item-input item-stacked-label">
		        <textarea placeholder="관리자비고란 입니다." rows="8" cols="10" ng-model="maipbasiclist.remk"></textarea>
      		</label>
      	</div>

  		<div class="list list-inset" align="center">
	  		<hr>
	  		<button class="button button-balanced" style="margin-top:40px" ng-click='meaipDataRegist()'>다음</button>
	  	</div>
  	</div>

   	
  </ion-content>
</ion-view>
