<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">거래처검색</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closecompsearchModals()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
  <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" ng-model="Comp.Ger_Name">
    </label>
    <button ng-click='compsclick(2)' class="button button-small">
      검색
    </button>
  </div>
      <hr>

      <div align="center">
        조회목록
      </div>
      
  <any ng-repeat="x in lists">
  <hr>
  <table>
      <tr>
        <td width="20%" align="left">{{x.G_Code}}</td>
        <td width="80%" align="left"><a ng-click="compselect(x.G_Name,x.G_Code)">{{x.G_Name}}</a></td>
    </tr>
  </table>
  <hr>
  </any>
  </ion-content>
</ion-modal-view>
