<ion-view title="매출전표조회">
 <ion-nav-buttons side="right">
        <button menu-toggle="right" ng-click="meachulpageopen()">등록</button>
</ion-nav-buttons>
<!-- <span class="navi-item-rightText" ng-bind-html="loginData.UserId"></span>  -->  
  <ion-content class="padding2">
    <div align="center"> 
      검색<hr>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" ng-model="searchdatas" placeholder="상품명을 입력하세요">
      </label>
    
<!--      <label class="item item-input">
        <input type="date" ng-model='date.sdate' size="11">~&nbsp;
        <input type="date" ng-model='date.edate' size="11"><br>
        <any ng-click="searchestoday(100)"><i class="icon ion-search" style="font-size:20px"></i></any>&nbsp;
      </label> -->

    <table width="100%">
    <tr>
          <td align="center">일자</td>
          <td>
            <input type="date" ng-model="reqparams.sDate1" ng-change="mydate1()" size="11" placeholder="{{reqparams.sDate}}" style="border:1px solid #eee;">
        </td>
        <td>~</td>
        <td>
            <input type="date" ng-model="reqparams.eDate1" ng-change="mydate2()"  size="11" placeholder="{{reqparams.eDate}}" style="border:1px solid #eee;">
        </td>
        <td>
            <button ng-click="searches()">검색</button>
          </td>
        </tr>
      </table>
      </div>
      <hr>
      <div align="center" style="width:100%">
        <button class="button button-calm" ng-click="searchesday(0)" style="width:30%">금일</button>
      <button class="button button-balanced" ng-click="searchesday(7)" style="width:30%">1주일</button>
      <button class="button button-energized" ng-click="searchesday(30)" style="width:30%">1개월</button>
    </div>
    <hr>
    <div align="center">
        조회목록
      </div>
      <hr>
    <body ng-app="ngAnimate">
      <ion-list>
        <ion-item ng-repeat="x in junpyolists | filter:searchdatas track by $index"  ng-if="$index < lasts" style="padding:0px;">
          <ui class="list" ng-click="searchdetailclick(x.Sl_No)">
            <li class="item">
              <font><b>품명</b></font> : {{x.G_Name}}</br>
              <font><b>매출일</b></font> : {{x.MeaChul_Date}}</br>
              <font><b>거래처</b></font> : {{x.Admin_Code}}</br>
              <font><b>매출총액</b></font> : {{x.MeaChul_Amt| number:0}}</br>
            </li>
          </ui>
        <button class="button button-block button-positive" ng-click="lastsclick($index)" ng-model="lasts" ng-if="$index == lasts-1 && $index!=$last">
          더보기(+5)
        </button>
        </ion-item>
      </ion-list>

  </ion-content>
</ion-view>

<!-- <ion-view view-title="매출전표 조회">
<ion-nav-buttons side="right">
        <button menu-toggle="right" onclick="location.href='#/app/meachul_page'" ng-controller='MeaChulinsertCtrl' ng-click="configoption(1)">등록
        </button>
</ion-nav-buttons>
  <ion-content>

   <div align="center"> 
   검색<hr>
  </div>

    <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" ng-model="searchdatas" placeholder="검색어">
    </label>

</div>
      <div align="center">
      <div class="row">
           <div class="col col-20">일자</div>
         <div class="col col-30">
  <input class="col" type="text" ng-model="reqparams.sDate" ng-click="opendateModal('sDate')" 
            readonly style="border:1px solid #eee;"></div>
          <div class="col col-10">~</div>
           <div class="col col-30"> <input class="col" type="text" ng-model="reqparams.eDate" ng-click="opendateModal('eDate')" 
            readonly style="border:1px solid #eee;"></div>
            <div class="col col-10"><button ng-click="searches()" class="ion-ios-search-strong" style="border:0; background:white;"></button></div>
      </div>
      <table>
        <tr>
          <td align="center" width="25%">일자</td>
          <td style="width:30%">
            <input type="text" ng-model="reqparams.sDate" style="border:1px solid #eee;">
          </td>
          <td>
            ~
          </td>
          <td style="width:30%">
            <input type="text" ng-model="reqparams.eDate" style="border:1px solid #eee;">
          </td>
          <td align="center" style="width:40%">
               <button ng-click='searches()' class="button button-small">
      검색
    </button>
          </td>
        </tr>
      </table>
      <div><button style="width:20%" ng-click="searchesday(0)" class="button button-small">금일</button> <button style="width:20%" ng-click="searchesday(7)" class="button button-small">1주일</button> <button style="width:20%" ng-click="searchesday(30)" class="button button-small">1개월</button>
      </div>
      <hr>

      </div>
      <div align="center">
        조회목록
      </div>
      <hr>
      <any ng-repeat="x in junpyolists | filter:searchdatas track by $index"  ng-if="$index < lasts">
   <div class="row" ng-click='searchdetail(x.Sl_No)'>
  <div class="col col-33">{{x.MeaChul_Date}}<br>{{x.G_Name}}</div>
  <div class="col col-33">{{x.Admin_Code}}</div>
  <div class="col col-33">{{x.MeaChul_Amt}}원</div>
</div>
<hr>
<br>
<center>
<button class="button button-small" ng-click="lastsclick($index)" ng-model="lasts" ng-if="$index == lasts-1 && $index!=$last">더보기</button>
</center>
</any>
<br>


  </ion-content>
</ion-view>
 -->
