<ion-view title="매출전표조회">
 <ion-nav-buttons side="right">
        <button menu-toggle="right" ng-click="meachulpageopen()">등록</button>
</ion-nav-buttons>
<!-- <span class="navi-item-rightText" ng-bind-html="loginData.UserId"></span>  -->  
  <ion-content>

    <table>
    <tr style="width:100%">
      <td style="width:20%; vertical-align:middle" align="center" >검 색 </td>
      <td style="width:55%; padding-left:10px; vertical-align:middle" colspan="3">
         <input type="text" ng-model="searchdatas"  placeholder="상품명, 거래처명 입력" style="font-size:15px; width:100%; border: 1px solid silver">
      </td>
      <td style="width:25%">
          <button ng-click="searches()" class="ion-ios-search-strong" style="border:0; background:white;"></button>
      </td>
    </tr>
    <tr style="width:100%">
          <td style="width:20% ; vertical-align:middle" align="center" >일 자 </td>
          <td style="width:35%; padding-left:10px;">
           <input type="date" ng-model="sDate1" ng-change="mydate1(sDate1)" style="font-size:15px; border: 1px solid silver; vertical-align:middle">
        <td style="width:10%"> ~ </td>
        <td style="width:35%" colspan="2">
           <input type="date" ng-model="eDate1" ng-change="mydate2(eDate1)" style="font-size:15px; border: 1px solid silver; vertical-align:middle">
        </td>
        </tr>
      </table>
      </div>
      <hr>
      <div align="center" style="width:100%">
        <button class="button button-calm" ng-click="searchesday(0)" style="width:30%">금일</button>
        <button class="button button-balanced" ng-click="searchesday(7)" style="width:30%">1주일</button>
        <button class="button button-energized" ng-click="searchesday(30)" style="width:30%">1개월</button>
    </div>
    <hr>
    <div align="center">
        조회목록
      </div>
      <hr>
     
      <table style="width:100%">
       <thead>
         <th style="width:10%" align="center">순번</th>
         <th style="width:30%" align="center">매출일</th>
         <th style="width:30%" align="center">업체명</th>
         <th style="width:30%" align="center">금액</th>
       </thead>
       </table>
       <hr>
       <table style="width:100%">
          <tbody ng-repeat="x in junpyolists | filter:searchdatas track by $index"  ng-if="$index < lasts" style="padding:0px;"  style="width:100%" ng-click="searchdetailclick(x.Sl_No)">
            <tr>
              <td rowspan="2" style="width:10%; border-bottom:1px solid black; vertical-align:middle" align="center">{{$index+1}}.</td>
              <td style="width:30%" align="center">{{x.MeaChul_Date}}</td>
              <td style="width:30%" align="center"><b>{{x.Admin_Code}}</b></td>
              <td rowspan="2" style="width:30%; padding-right:15px; border-bottom:1px solid black" align="right">{{x.MeaChul_Amt| number:0}}원</td>
            </tr>
            <tr style="width:100%"><td colspan="2" style="width:60% ; padding-bottom:10px; border-bottom:1px solid black" align="center" >{{x.G_Name}}</td></tr>
          </tbody>
          <button class="button button-block button-positive" on-drag-up="lastsclick($index)" ng-model="lasts"  ng-if="$index == lasts-1 && $index!=$last">더보기(+5)  </button>
      </table>

  </ion-content>
    <div style="margin-top:600px" align="right">
      <button style="position:relative; z-index:1000;">빠른등록</button>
  </div>
    <ion-footer-bar align-title="left" class="bar-stable">
    <div style="width:10%; BORDER-RIGHT: #BDBDBD 2px solid;">기간현황</div>
    <div style="width:5%;">&nbsp;</div>
    <div style="width:55%">매입액 3,04,000원<br>지급액 1,900,000원</div>
    <div style="width:30%">이월잔액 0원</div>
  </ion-footer-bar>
</ion-view>

<!-- <ion-view view-title="매출전표 조회">
<ion-nav-buttons side="right">
        <button menu-toggle="right" onclick="location.href='#/app/meachul_page'" ng-controller='MeaChulinsertCtrl' ng-click="configoption(1)">등록
        </button>
</ion-nav-buttons>
  <ion-content>

   <div align="center"> 
   검색<hr>
  </div>

    <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" ng-model="searchdatas" placeholder="검색어">
    </label>

</div>
      <div align="center">
      <div class="row">
           <div class="col col-20">일자</div>
         <div class="col col-30">
  <input class="col" type="text" ng-model="reqparams.sDate" ng-click="opendateModal('sDate')" 
            readonly style="border:1px solid #eee;"></div>
          <div class="col col-10">~</div>
           <div class="col col-30"> <input class="col" type="text" ng-model="reqparams.eDate" ng-click="opendateModal('eDate')" 
            readonly style="border:1px solid #eee;"></div>
            <div class="col col-10"><button ng-click="searches()" class="ion-ios-search-strong" style="border:0; background:white;"></button></div>
      </div>
      <table>
        <tr>
          <td align="center" width="25%">일자</td>
          <td style="width:30%">
            <input type="text" ng-model="reqparams.sDate" style="border:1px solid #eee;">
          </td>
          <td>
            ~
          </td>
          <td style="width:30%">
            <input type="text" ng-model="reqparams.eDate" style="border:1px solid #eee;">
          </td>
          <td align="center" style="width:40%">
               <button ng-click='searches()' class="button button-small">
      검색
    </button>
          </td>
        </tr>
      </table>
      <div><button style="width:20%" ng-click="searchesday(0)" class="button button-small">금일</button> <button style="width:20%" ng-click="searchesday(7)" class="button button-small">1주일</button> <button style="width:20%" ng-click="searchesday(30)" class="button button-small">1개월</button>
      </div>
      <hr>

      </div>
      <div align="center">
        조회목록
      </div>
      <hr>
      <any ng-repeat="x in junpyolists | filter:searchdatas track by $index"  ng-if="$index < lasts">
   <div class="row" ng-click='searchdetail(x.Sl_No)'>
  <div class="col col-33">{{x.MeaChul_Date}}<br>{{x.G_Name}}</div>
  <div class="col col-33">{{x.Admin_Code}}</div>
  <div class="col col-33">{{x.MeaChul_Amt}}원</div>
</div>
<hr>
<br>
<center>
<button class="button button-small" ng-click="lastsclick($index)" ng-model="lasts" ng-if="$index == lasts-1 && $index!=$last">더보기</button>
</center>
</any>
<br>


  </ion-content>
</ion-view>
 -->
