<ion-view title="간편매입 등록">
    <ion-nav-bar>
        <ion-nav-back-button ng-click="mygoback()">Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
    <div class="list list-inset">
        <div class="list list-inset" align="left" ng-click="meaipNext()">
            <input type="text" style="text-align:center;" value='{{todate}}' readonly>   
            <hr>&nbsp; <i class="{{upAnddown}}"></i> &nbsp;&nbsp; 매출정보
        </div>

        <div ng-if="basictype" >
        <div class="list list-inset">
            <label class="item item-input" style="border:0;">
              거래처&nbsp;&nbsp;
              <input type="text" ng-model="Comp.Ger_Name" style="text-align:center;" readonly ng-click="compsclick(1);checkup()">&nbsp;
              <button class="button button-stable" ng-click="compsclick(1);checkup()">검색</button>&nbsp;
            </label>

            <label class="item item-input" style="border:0;">
              수불구분
              <ion-radio ng-model="searchde.meachulsubuls" ng-value="221" ng-click="subulclick();checkup()">출고</ion-radio>
              <ion-radio ng-model="searchde.meachulsubuls" ng-value="212" ng-click="subulclick();checkup()">반품</ion-radio>
            </label>
            <label class="item item-input item-select" style="border:0;">
              매장지정
              <select ng-model="mejang.Sale_Place_Code" ng-change="mejangselect();checkup()" style="width:50%">
                 <option ng-repeat="x in mejanglists" value="{{x.Sale_Place_Code}}" ng-selected="configData.basic_Place_Code==x.Sale_Place_Code||configData.basic_Place_Code==x.Sale_Place_Name" >
                 {{x.Sale_Place_Name}}</option>
                </select>
            </label>

            <label class="item item-input item-select" style="border:0;">
              창고지정
              <select ng-model="mejang.ChanggoCode" ng-change='onChanggoChecked();checkup()' style="width:50%">
                  <option ng-repeat="x in changolists" value="{{x.Code}}" ng-selected="configData.basic_Ch_Code == {{x.Code}}">
                  {{x.Name}}</option>
                </select>
            </label>
    </div>
    </div>

        <div class="list list-inset" align="left" ng-click="meaipNext2()">
            <hr>&nbsp; <i class="{{upAnddown2}}"></i> &nbsp;&nbsp; 상품
        </div>

        <div ng-if="basic2type">
        <div class="list list-inset" style="align:center;" >
            <table width="100%">
                <tr>
                    <td>
                    &nbsp;<SELECT ng-model='searchde.itemselectMode' >
                            <option ng-repeat="x in itemSelectMode" value="{{x.id}}" ng-selected="searchde.itemselectMode=={{x.id}}">{{x.name}}</option>
                    </SELECT>&nbsp;&nbsp;
                    </td>
                    <td>
            <label ng-switch on="searchde.itemselectMode" class="item-input-wrapper item item-input" style="border:0;">
            <input type="text" ng-model='goodsparam.GoodsName' size="20" placeholder="상품명" ng-switch-when="Select_GoodsName"/>
            <input type="text" ng-model='goodsparam.G_OnCode' size="20" placeholder="자체코드" ng-switch-when="Select_G_OnCode"/>
            <input type="text" ng-model='goodsparam.GoodsCode' size="20" placeholder="상품코드" ng-switch-when="Select_G_Code"/>
            <input type="text" ng-model='goodsparam.GI_Code' size="20" placeholder="공인바코드 번호" ng-switch-when="Select_GI_Code"/>
            <input type="text" ng-model='goodsparam.GoodsName' size="20" placeholder="상품명" ng-switch-default/>
            </label>
                    </td>
                    <td><i class="ion-search" style="font-size:30px" ng-click="presentsclick(1)"></i></td>
                    <td><button class="ion-ios-barcode" style="font-size:30px" ng-click="scanBarcodeBtn()"></button></td>
                </tr>
            </table><hr>
        
            <table width="100%" style="text-align:center;">
                <tr bgcolor="#EAEAEA">
                    <td width="10%" style="font-size:12px">번호</td>
                    <td width="40%" style="font-size:12px">상품명</td>
                    <td width="10%" style="font-size:12px">수 량</td>
                    <td width="40%" style="font-size:12px" colspan='2'>단 가</td>
                    
                </tr>
                <tr>
                    <td colspan="5"><hr></td>
                </tr>
                <tr ng-repeat="goods in goodsresult">
                    <td style="vertical-align:middle; width:10%">{{goodsresult[$index].goods_number}}.</td>
                    <td style="vertical-align:middle; width:30%" align="left">{{goods.G_Name}}
                    </td>
                    <td style="width:20%">
                    <input type="number" min="0" max="999" ng-model="goods.goods_count" required ng-bind-html="goods_totalprice1($index)"style="border: 1px solid silver; width:80%"></td>
                    <td align="right" style="width:28%; padding-left:1%; padding-right:1%"><input ng-model="goods.goods_price" type="number" ng-change="goods_totalprice1($index)" style="width:100%; border: 1px solid silver; text-align:right"/>
                    </td>
                    <td style="width:10%"><i class="ion-android-remove-circle" ng-click="itemremove($index)" style="vertical-align:middle;"></i>&nbsp;</td><input ng-model="goodsresult[$index].goods_totalprice" ng-bind-html="goods_totalsumprice()" type="hidden" />
                </tr>
            </table>
        </div>
        <div class="list list-inset" align="right">     
            <input ng-model="etc.totalsumprices" type="hidden" />
            <b>최종가격 :{{etc.totalsumprices | number:0}} 원
        </div>
    </div>
        
        <div class="list list-inset" align="left" ng-click="meaipNext3()">
            <hr>&nbsp; <i class="{{upAnddown3}}"></i> &nbsp;&nbsp; 관리비고
        </div>
        <div ng-if="basic3type" class="list list-inset">
            <label class="item item-input item-stacked-label">
                <textarea placeholder="관리자비고란 입니다." rows="8" cols="10" ng-model="etc.goods_bigo"></textarea>
            </label>
        </div>

        <div class="list list-inset" align="center">
            <hr>
            <button class="button button-balanced" ng-click='Meachulnextbtn()'>다음</button>
            <br><br>
        </div>
    </div>

    
  </ion-content>


</ion-view>
