<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">매장검색</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closemejangsearchModals()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" ng-model="mejang.Sale_Place_Name">
    </label>
    <button ng-click='mejangsclick(2)' class="button button-small">
      검색
    </button>
  </div>

      <hr>

      </div>
      <div align="center">
        조회목록
        <br>
      
      </div>
      <hr>

  <table>
      <tr ng-repeat="x in lists">
        <td width="20%" align="center">{{x.Sale_Place_Code}}</td>
        <td width="80%" align="center"><a ng-click="mejangselect(x.Sale_Place_Name,x.Sale_Place_Code)">{{x.Sale_Place_Name}}</a></td>
    </tr>
  </table>
  <hr>
  </ion-content>
</ion-modal-view>
