<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">매출전표 상세</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closemodalsearchdetail()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div style="width:100%" ng-if="deleteclick==false">
    <br>
   <div class="row" style='width:100%'>
  <div class="col col-33">업체코드</div>
  <div class="col col-33" style="width:67%">{{meachulDetaildata.Admin_Code}}</div>
</div>
  <div class="row" style='width:100%'>
  <div class="col col-33">매출전표번호</div>
  <div class="col col-33" style="width:67%">{{meachulDetaildata.Sl_No}}</div>
</div>
  <div class="row" style='width:100%'>
  <div class="col col-33">매출등록날짜</div>
  <div class="col col-33" style="width:67%">{{meachulDetaildata.MeaChul_Date}}</div>
</div>
  <div class="row" style='width:100%'>
  <div class="col col-33">거래처</div>
  <div class="col col-33" style="width:67%">{{meachulDetaildata.GerName}}</div>
</div>
  <div class="row" style='width:100%'>
  <div class="col col-33">매장명</div>
  <div class="col col-33" style="width:67%">{{meachulDetaildata.Sale_Place_Name}}</div>
</div>
  <div class="row" style='width:100%'>
  <div class="col col-33">창고명</div>
  <div class="col col-33" style="width:67%">{{meachulDetaildata.CName}}</div>
</div>
<hr><br><center>
<h3>상품정보</h3></center><hr>
<any ng-repeat="meachuldetail in meachulDetailGdata">
  <div class="row" style='width:100%'>
  <div class="col col-33">상품명({{meachuldetail.G_Seq}})</div>
  <div class="col col-33" style="width:67%">{{meachuldetail.G_Name}}</div>
</div>
  <div class="row" style='width:100%'>
  <div class="col col-33">규격</div>
  <div class="col col-33" style="width:67%">{{meachuldetail.G_Stand}}</div>
</div>
  <div class="row" style='width:100%'>
  <div class="col col-33">수량</div>
  <div class="col col-33" style="width:67%">{{meachuldetail.G_Qty}}</div>
</div>
  <div class="row" style='width:100%'>
  <div class="col col-33">판매가</div>
  <div class="col col-33" style="width:67%">{{meachuldetail.G_Price}}</div>
</div>
<hr>
   </any>
<hr>
     <div class="row" style='width:100%'>
  <div class="col col-33">비고</div>
  <div class="col col-33" style="width:67%">{{meachulDetaildata.Remk}}</div>
</div>
  <button ng-click='deleteclickbtn(meachulDetaildata.Sl_No)'>매출전표삭제</button>
  <button ng-controller="MeaChulinsertCtrl" ng-click="requestupdatecheck(meachulDetaildata.Sl_No)">매출전표수정</button>
  </div>

  <!--매출전표 수정페이지-->
    <div style='width:100%' ng-if="deleteclick==true">
    <br>
   <div class="row" style='width:100%'>
  <div class="col col-33">업체코드</div>
  <div class="col col-33" style="width:67%">{{meachulDetaildata.Admin_Code}}</div>
</div>
  <div class="row" style='width:100%'>
  <div class="col col-33">매출전표번호</div>
  <div class="col col-33" style="width:67%">{{meachulDetaildata.Sl_No}}</div>
</div>
  <div class="row" style='width:100%'>
  <div class="col col-33">매출등록날짜</div>
  <div class="col col-33" style="width:67%">{{meachulDetaildata.MeaChul_Date}}</div>
</div>
  <div class="row" style='width:100%'>
  <div class="col col-33">거래처</div>
  <div class="col col-33" style="width:67%">{{meachulDetaildata.GerName}}</div>
</div>

<hr><br><center>
<h3>상품정보</h3></center><hr>
<any ng-repeat="meachuldetail in meachulDetailGdata">
  <div class="row" style='width:100%'>
  <div class="col col-33">상품명({{meachuldetail.G_Seq}})</div>
  <div class="col col-33" style="width:67%">{{meachuldetail.G_Name}}</div>
  <div class="col col-33"><i ng-click="requestdeleteTbtn(meachuldetail.G_Seq)" class="ion-ios-close"></i></div>
</div>
  <div class="row" style='width:100%'>
  <div class="col col-33">규격</div>
  <div class="col col-33" style="width:67%">{{meachuldetail.G_Stand}}</div>
</div>
  <div class="row" style='width:100%'>
  <div class="col col-33">수량</div>
  <div class="col col-33" style="width:67%">{{meachuldetail.G_Qty}}</div>
</div>
  <div class="row" style='width:100%'>
  <div class="col col-33">판매가</div>
  <div class="col col-33" style="width:67%">{{meachuldetail.G_Price}}</div>
</div>
<hr>
   </any>
<hr>
     <div class="row" style='width:100%'>
  <div class="col col-33">비고</div>
  <div class="col col-33" style="width:67%">{{meachulDetaildata.Remk}}</div>
</div>
  <button ng-click="requestdeletebtn(meachulDetaildata.Sl_No)" align='right'>매출전표전체삭제</button>
  </div>

  </ion-content>
</ion-modal-view>
