<!-- 매입 + 매출 지급 정보 페이지 -->
<ion-modal-view>
  <ion-header-bar>
  <div class="buttons">
      <button class="button button-clear" ng-click="closemodeInsert()">이전</button>
    </div>
    <h1 class="title">{{distinction}} {{mode}}</h1>
  </ion-header-bar>
  <ion-content>
   <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label psm_sang_01">&nbsp;&nbsp;매입액</span>
        <input type="text" style="text-align:right" readonly value='총 {{Meaipgoods.totalnum}}개 / {{Meaipgoods.totalsumprices}}원'><br>
      </label><br>
   </div>

    <div class="list list-inset">
         &nbsp;<b>지급정보</b>
        <label class="item item-input">
          <span class="input-label psm_sang_01">&nbsp;&nbsp;지급일</span>
         {{date.payday}}&nbsp;&nbsp;
         <button class="ion-ios-calendar-outline" style="font-size:25px; border:0; background:white;" ng-click="opendateModal('payday')"></button><br>
        </label>
        <label class="item">
          <span class="input-label psm_sang_01">지급구분</span>
          <table>
            <tr>
              <td>
                <ion-checkbox style="font-size:12px;" ng-click='Payments_division(1)' checked='payment.one' ng-model='payment.one'>현금결제</ion-checkbox>
              </td>
              <td>
                <ion-checkbox style="font-size:12px;" ng-click='Payments_division(2)' checked='payment.two' ng-model='payment.two'>통장결제</ion-checkbox>
              </td>
            </tr>
            <tr>
              <td>
                <ion-checkbox style="font-size:12px;" ng-click='Payments_division(3)' checked='payment.th' ng-model='payment.th'>어음결제</ion-checkbox>
              </td>
              <td>
                <ion-checkbox style="font-size:12px;" ng-click='Payments_division(4)' checked='payment.fo' ng-model='payment.fo'>카드결제</ion-checkbox>
              </td>
            </tr>
          </table>
        </label><br>
    </div>
    <div class="list list-inset">
      <label class="item item-input" ng-if="paytype">
        <span class="input-label psm_sang_01">&nbsp;&nbsp;{{payname}}</span>

        <select ng-if="paytype_card" ng-model="compo.paycardbank" ng-change="paydataF()">
          <option ng-repeat='x in paydatalist' value='{{x.Card_Code}},{{x.Card_Name}},{{x.Card_Num}}'>{{x.Card_Name}}</option>
        </select>

        <select ng-if="paytype_bank" ng-model="compo.paycardbank" ng-change="paydataF()">
          <option ng-repeat='x in paydatalist' value='{{x.Bank_Code}},{{x.Bank_Name}},{{x.Bank_Account}}'>{{x.Bank_Name}}</option>
        </select><br>

      </label><br>
      <label class="item item-input">
        <span class="input-label psm_sang_01">&nbsp;&nbsp;지급액</span>
        <input type="number" ng-disabled="pay.use" style="text-align:right" min='0' value='0' ng-model='compo.payprice'><span class="input-label psm_sang_01">원</span><br>
      </label><br>
   </div>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-assertive" ng-click="insertGoodsF()">
    <div class="buttons">
    </div>
    <h1 class="title">등록</h1>
    <div class="buttons">
    </div>
  </ion-footer-bar>
  </form>
  </ion-content>
  </ion-modal-view>


