<ion-modal-view class="psm_login_body">
	<ion-view view-title="이용약관">
		<ion-content class="padding2">
			<div class="list list-inset">
				<label class="item item-input">
					애플리케이션 서비스 이용약관(필수)
				</label>			
			
				<label class="item item-input">
					<textarea style="height:140px; width:100%; overflow-y:scroll;">
이용약관 이용약관 이용약관
이용약관 이용약관 이용약관
이용약관 이용약관 이용약관
이용약관 이용약관 이용약관
이용약관 이용약관 이용약관
이용약관 이용약관 이용약관
이용약관 이용약관 이용약관
이용약관 이용약관 이용약관
이용약관 이용약관 이용약관
이용약관 이용약관 이용약관
					</textarea>
				</label>
				<input type='checkbox' ng-model='agree_1'>동의합니다.
				<label class="item item-input">
					개인정보수집 및 제공에 대한 동의(필수)
				</label>
				<label class="item item-input">
					<textarea style="height:140px; width:100%; overflow-y:scroll;">
이용약관 이용약관 이용약관
이용약관 이용약관 이용약관
이용약관 이용약관 이용약관
이용약관 이용약관 이용약관
이용약관 이용약관 이용약관
이용약관 이용약관 이용약관
이용약관 이용약관 이용약관
이용약관 이용약관 이용약관
이용약관 이용약관 이용약관
이용약관 이용약관 이용약관
					</textarea>
				</label>
				<input type="checkbox" ng-model='agree_2'>동의합니다.
				<button class="button button-block button-calm" type="submit" style="margin-top:50px" ng-click='click_agreement(this)'>
					확인
				</button>
				<button class="button button-block button-calm" type="submit" style="margin-top:50px" ng-click='click_cancel()'>
					이전메뉴로
				</button> 
			</div>

		</ion-content> 
	</ion-view> 
</ion-modal-view>